examples/basic-workflow.json
{
  "name": "AppStruct Basic Example",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "newRow",
        "projectId": "1",
        "tableName": "users",
        "pollInterval": 5
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "AppStruct Trigger",
      "type": "n8n-nodes-appstruct.appStructTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "projectId": "1",
        "tableName": "user_logs",
        "data": "{\n  \"user_id\": \"{{ $json.id }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"action\": \"user_created\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Log New User",
      "type": "n8n-nodes-appstruct.appStruct",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "New user created: {{ $json.name }} (ID: {{ $json.id }})"
            }
          ]
        }
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "AppStruct Trigger": {
      "main": [
        [
          {
            "node": "Log New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log New User": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
